{% include header.html %}

<div id="content" class="column span-18 append-1">
  <section>
    <header>
      <h1 class="blog-heading">{{page.title}}</h1>
    </header>
    <p class="post-date">Posted on: {{page.date | date: "%A, %B %d, %Y"}}</p>
      <div id="tweet-button"><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="scottradcliff">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></div>
      {{content}}
  </section>
</div>
{% include sidebar.html %}

{% include footer.html %}
